@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro'), local('Arial');
}

@font-face {
  font-family: 'Suisse Int\'l';
  src: local('Suisse Int\'l'), local('Arial');
}

@import "tailwindcss";

@theme {
  --font-fira: "Fira Mono", monospace;
  --font-sofia: "Sofia Pro", sans-serif;
  --font-suisse: "Suisse Int'l", sans-serif;

  --color-brand-beige: #F9F0E5;
  --color-brand-blue: #01005B;
}

